.advantages{
  
}
   
.advantages__item{
  font-size: $sedona-regular-size;
  line-height: $regular-line-height;
  color: $contrast-color;
  background-color: $sedona-color;
  margin:0; 
  padding: 0;
    
  min-height:210px; 
}
      
.advantages__gallery{
  padding: 0;
    
  min-height:210px; 
}     
     
@media (min-width: $tablet-width) {
.advantages{
  padding: 0;
    
  min-height:260px;
}
    
.advantages__container{
  display:flex;
    
}
      

.advantages__item--cityinfo{
 // width: 256px;
  text-align: center;
  padding: 0;
    
  min-height:260px;
}
  
.advantages__item--bridge{
     order:2;   
    }
    
.advantages__gallery{
  //width: 512px;     
 
  padding:0;

  min-height:260px;    
}
}


@media (min-width: $desktop-width) {
.advantages__item{

    width: 400px;
    }
    
    
 .advantages__gallery{

  width: 800px;
    }


}



.advantages__title{
  font-size: $sedona-title-size;
  line-height: $title-line-height;
}

.advantages__item--cityinfo{
  min-height: 260px;
}

.advantages__item--bridge{
  min-height: 260px;
}

.advantages__gallery{
  min-height: 260px;   
}