.advantages__item{
  font-size: $sedona-regular-size;
  line-height: $regular-line-height;
  color: $contrast-color;
  background-color: $sedona-color;
  margin: 0;
  
}

.advantages__title{
  font-size: $sedona-title-size;
  line-height: $title-line-height;
}

.advantages__item--cityinfo{
  min-height: 210px;
}

.advantages__item--bridge{
  min-height: 191px;
}

.advantages__gallery{
  min-height: 260px;   
}