.advantages__item{
  font-size: $sedona-regular-size;
  line-height: $regular-line-height;
  color: $contrast-color;
  background-color: $sedona-color;
  padding: 0;
    
}
.advantages__title{
  padding: 0;
  margin:0;
  margin-bottom: 9px;
}

.advantages__number{
   padding: 0;
   margin:0;
}

.advantages__item{
  padding: 55px 15px 32px 15px;
}
      
.advantages__gallery{
  padding: 0;
}     
     
@media (min-width: $tablet-width) {
.advantages{
  padding: 0;
    
}
    
.advantages__container{
  display:flex;
    
}
      
.advantages__item--bridge{
     order:2;   
    }
}


@media (min-width: $desktop-width) {
.advantages__item{

    width: 400px;
    }
    
 .advantages__gallery{

  width: 800px;
    }
}

.advantages__title{
  font-size: $sedona-title-size;
  line-height: $title-line-height;
}

.advantages__item--cityinfo{

}

.advantages__item--bridge{

}

.advantages__gallery{

}