.main-nav{
  font-family: "ptsans", "arial", sans-serif;
  font-size: $sedona-title-size;
  font-weight: bold;
  line-height: 40px; 
  color: $contrast-color;
  background-color: $sedona-color;
  text-transform: uppercase;
  text-decoration: none;
  min-width: 320px;
  margin: 0 auto;
}


.main-nav__toggle{
  color: $sedona-color;
}

.main-nav__list{
  list-style-type: none; 
  padding: 0;
  margin: 0; 
}


@media (min-width: $tablet-width) {
  .main-nav {
  width: auto;
  margin: 0;
  background-color: $contrast-color;
  color: $text-color;
}

.main-nav__wrapper{
  margin: 0 auto; 
  width:700px;
    } 
}


@media (min-width: $desktop-width) {
.main-nav__wrapper{
    margin: 0 auto; 
    width:1045px;
    } 
}