.main-nav{
  font-family: "ptsans", "arial", sans-serif;
  font-size: $sedona-title-size; 
  line-height: 40px; 
  color: $contrast-color;
  background-color: $sedona-color;
  text-transform: uppercase;
  text-decoration: none;
    
  width: 320px;
  margin: 0 auto;
    
}

.main-nav__toggle{
  color: $sedona-color;
}

.main-nav__list{
  list-style-type: none; 
  padding: 0;
  margin: 0;
    
  /* Временно для сетки */
  min-height: 56px;
}

.site-list {
  /* Временно для сетки */
  min-height: 280px;
  
}

@media (min-width: $tablet-width) {
  .main-nav {
  width: auto;
  margin: 0;
  background-color: $contrast-color;
 
}

.main-nav__wrapper{
    margin: 0 auto; 
    width:700px;
    } 
    
.site-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 700px;
     /* Временно для сетки */
    min-height:56px;
  }
    
    
.site-list__item{
  border-bottom:none;
  }   
}


@media (min-width: $desktop-width) {
.main-nav__wrapper{
    margin: 0 auto; 
    width:1045px;
    } 
    
.site-list {
    width: 1045px;
  }
    
.site-list__item{
  border-bottom:none;
}
    
    

}