.main-page{
  font-family: "ptsans", "arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: $sedona-title-size; 
  line-height: 40px;
  color: $contrast-color;
  text-decoration: none;
}