.morefeatures{
  background-color: #eeeeee;

}

.morefeatures__list{
  text-align: center;
  list-style: none;
  padding: 0;
  margin:0;
  
}

.morefeatures__item{
  font-size: $sedona-regular-size;
  line-height: $regular-line-height;
  color: $text-color;
  min-height: 168px;
  padding: 30px 20px;
  margin:0;
}

.morefeatures__title{
  font-size: 21px;
  line-height: $title-line-height;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .morefeatures__list{
    display:flex;
    min-height: 255px;
    }
    
.morefeatures__item{
    padding: 48px 43px 0 43px;
    
    }
    
    
}

@media (min-width: $desktop-width) {
  .morefeatures__title{
  
}
    
}