.morefeatures{
  background-color: #eeeeee;
  width:320px;
}

.morefeatures__list{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0;
  list-style: none;
}

.morefeatures__item{
  font-size: $sedona-regular-size;
  line-height: $regular-line-height;
  color: $text-color;
}

.morefeatures__title{
  font-size: $sedona-title-size;
  line-height: $title-line-height;
}
