.section{
  background-color: $contrast-color;
}

.section__info{
  color: $text-color;
  font-size: $sedona-regular-size;
  font-weight: normal;
  line-height: 24px;
  margin:0;   
}

.section__title{
  font-size: $sedona-title-size;
  font-weight: bold;
  line-height: $title-line-height;
  color: $text-color;
}

.section__title{
  margin:0;  
}


.section__sedona{
  .section__info{
  padding: 0 12px 34px 12px;
}
}

.section__photo{
  padding: 0;
  border-bottom: 1px solid #e5e5e5;

    .section__title{
        padding-bottom: 26px;
    }
    
    .section__info{
       padding:0 32px 28px 32px; 
    }
    
}

.section__container{
  padding: 40px 23px 0 23px;
}

.section__doubt{
  margin-bottom:65px;
    
    .section__title{
        padding-top: 33px;
    } 
    .section__info{
        padding-top: 26px;
        margin: 0 40px 36px 40px;
        
    }
}
    
@media (min-width: $tablet-width) {
  .section__video{
      width:648px;
      min-height:500px;
      margin:0;
    }
    }
    
@media (min-width: $desktop-width){  
   
    
}


.section__name__big{
    .section__title{
        padding:30px 53px 20px 53px;
        font-size: 21px;  
    }
    
    
    .section__video{
      width:800px;
      min-height:505px;
      margin:0;
    }
}








.section__button{
  display: block;
  box-sizing: border-box;
  border:none;
  font:inherit;
  font-size: 21px;
  font-weight:bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2; 
  padding:0; 
    
  width: 280px;
  height:58px;
  margin:0 auto;
    
  margin-bottom:50px;

  &:hover {
    background-color: #669ec0;
  }

  &:active { 
     background-color:#5496bd;
      color: #88b6d1;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
