.section{
  text-align: center;
}


.section__title{
  font-size: $sedona-title-size;
  font-weight: bold;
  line-height: $title-line-height;
  color: $text-color;
}


.section__info{
  padding: 0 26px;
  color: $text-color;
  font-size: $sedona-regular-size;
  font-weight: normal;
  line-height: $regular-line-height;
}

