
body{
  font-family: "ptsans", "arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: $sedona-regular-size; 
  line-height: $regular-line-height;
  list-style-type:none;
  color: $text-color;
  background: white; 
  text-align: center;
  text-decoration: none;
    
  min-width: 320px;
  margin: 0;
  padding: 0;
   
}




@media (width: $tablet-width){
  body {
    background: $contrast-color  no-repeat 50% 0;
    background-size: 768px auto;
  }
}


@media (width: $desktop-width){
  body {
    background: $contrast-color no-repeat 50% 0;
    background-size: 1200px auto;
  }
}



a {
  text-decoration: none;
}

img {
 
}
