$sedona-color: #81b3d2;
$contrast-color: #ffffff;
$text-color: #000000;
$sedona-title-size: 18px;
$sedona-regular-size: 14px;
$sedona-font: "PT Sans", "arial", sans-serif;
$title-line-height: 26px;
$regular-line-height: 21px;